In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("bank1.csv")
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4521 non-null   int64
 1   job        4521 non-null   object
 2   marital    4521 non-null   object
 3   education  4521 non-null   object
 4   default    4521 non-null   object
 5   balance    4521 non-null   int64
 6   housing    4521 non-null   object
 7   loan       4521 non-null   object
 8   contact    4521 non-null   object
 9   day        4521 non-null   int64
 10  month      4521 non-null   object
 11  duration   4521 non-null   int64
 12  campaign   4521 non-null   int64
 13  pdays      4521 non-null   int64
 14  previous   4521 non-null   int64
 15  poutcome   4521 non-null   object
 16  y          4521 non-null   object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB

In [4]:
df.shape

(4521, 17)

In [5]:
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [6]:
df.duplicated().sum()

0

In [7]:
df.marital.value_counts()

marital
married     2797
single      1196
divorced     528
Name: count, dtype: int64

In [8]:
df.education.value_counts()

education
secondary    2306
tertiary     1350
primary       678
unknown       187
Name: count, dtype: int64

In [9]:
df.y.value_counts()

y
no     4000
yes     521
Name: count, dtype: int64

In [10]:
df.contact.value_counts()

contact
cellular     2896
unknown      1324
telephone     301
Name: count, dtype: int64

In [11]:
df.default.value_counts()

default
no     4445
yes      76
Name: count, dtype: int64

In [12]:
df.job.value_counts()

job
management       969
blue-collar      946
technician       768
admin.           478
services         417
retired          230
self-employed    183
entrepreneur     168
unemployed       128
housemaid        112
student           84
unknown           38
Name: count, dtype: int64

In [14]:
from sklearn import preprocessing
LE=preprocessing.LabelEncoder()
df['marital']=LE.fit_transform(df['marital'])
df['education']=LE.fit_transform(df['education'])
df['default']=LE.fit_transform(df['default'])
df['housing']=LE.fit_transform(df['housing'])
df['loan']=LE.fit_transform(df['loan'])
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,1,0,0,1787,0,0,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,1,1,0,4789,1,1,cellular,11,may,220,1,339,4,failure,no
2,35,management,2,2,0,1350,1,0,cellular,16,apr,185,1,330,1,failure,no
3,30,management,1,2,0,1476,1,1,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,1,1,0,0,1,0,unknown,5,may,226,1,-1,0,unknown,no